.navbar{
    background-color: white;
}

.navbar-header{
    height: 80px;
    width: auto;
}

.navbar-brand{
    padding-top: 0px;
}

.navbar-brand>img{
    height: 75px;
    width: auto;
}

@media(max-width: 768px){
    .container .thumbnail > img{
        float: left;
        padding-right: 15px;
        clear: right;
    }
}